
.glossar_layer {
	top: 0;
	left: 10%;
	width: 30px;
	height: 30px;
	z-index:99999;
	overflow: auto;
	display: none;
	position: absolute;
	
}
.glossar_layer.layer_load {
	display: block;
}

.layer_loaded {
	width: 80%;
	height: auto;
	min-height: 150px;

	overflow: auto;
	padding: 1em 1.5em;
	background: white;
	border: 1px solid #ccc;
	border-radius: 10px;
	border-top-right-radius: 0;
	box-shadow: 2px 2px 15px rgba(150,150,150,.7);
}
.ce_glossar_close {
	top: 5px;
	right: 20px;
	color: red;
	opacity: .4;
	display: block;
	cursor: pointer;
	padding: 2px 5px;
	background: white;
	position: absolute;
	transition: opacity .4s;
	-webkit-transition: opacity .4s;
}
.ce_glossar_close:hover {
	opacity: 1;
}
.ce_glossar_layer {
	width: 100%;
	display: block;
	color: #333333;
	background: white;
	text-decoration: none;
}

.ce_glossar_layer > * {
	margin: 0 0 .7em 0;
}


/* ANIMATION */
@-webkit-keyframes rotate { 
  from { -webkit-transform: rotate(0deg) } 
  to { -webkit-transform: rotate(360deg) } }
@-moz-keyframes rotate { 
  from { -moz-transform: rotate(0deg) } 
  to { -moz-transform: rotate(360deg) } }
@-o-keyframes rotate { 
  from { -o-transform: rotate(0deg) } 
  to { -o-transform: rotate(360deg) } }
@keyframes rotate { 
  from { transform: rotate(0deg) } 
  to { transform: rotate(360deg) } }

@-webkit-keyframes fade { 
  from { background: #333; }
  to { background: #fff; } }
@-moz-keyframes fade { 
  from { background: #333; }
  to { background: #fff; } }
@-o-keyframes fade { 
  from { background: #333; }
  to { background: #fff; } }
@keyframes fade { 
  from { background: #333; }
  to { background: #fff; } }

/* CONTAINER */
.layer_loading {
	width: 100%;
	height: 100%;

	max-width: 50px;
	max-height: 50px;
	/* PRESENTATIONAL PURPOSES */
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	/**/
	cursor: pointer;
	-webkit-user-select: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.layer_loaded .layer_loading {
	display: none;
}

/* TEXT */
.layer_content{
	background: #222;
	background: -webkit-linear-gradient(#222,#111);
	background: -moz-linear-gradient(#222,#111);
	background: -o-linear-gradient(#222,#111);
	background: linear-gradient(#222,#111);
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	font: normal normal normal 13px/70px 
	'Electrolize', Helvetica, Arial, sans-serif;
	color: #fff
}

.layer_content span {
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	background: #fff;
	border-radius: 50%;
}

.layer_load .layer_content span {
	-webkit-animation: fade .75s linear;
	-moz-animation: fade .75s linear;
	-o-animation: fade .75s linear;
	animation: fade .75s linear;
}

/* SPINNING GRADIENT */
.layer_ring {
	margin: 0 auto;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	-o-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;

	background: -webkit-linear-gradient(#3cf,transparent,#3cf);
	background: -moz-linear-gradient(#3cf,transparent,#3cf);
	background: -o-linear-gradient(#3cf,transparent,#3cf);
	background: linear-gradient(#3cf,transparent,#3cf)
}